.scheme-container {
  margin-top: 10px !important;
}

.swagger-ui .information-container {
  display: none;
}

/* Dark mode color inversion */
.dark .swagger-ui {
  filter: invert(1) hue-rotate(180deg);
}

.dark .swagger-ui img,
.dark .swagger-ui .swagger-ui-logo {
  filter: invert(1) hue-rotate(180deg);
}
