.badgesContainer {
    display: flex;
    justify-content: flex-start;
    gap: 4px;
    flex-wrap: wrap;
    /* Allows badges to wrap on smaller screens */
}

.badge {
    height: auto;
    max-height: 24px;
    /* Adjust as needed */
}

/* Responsive Design */
@media (max-width: 768px) {
    .badgesContainer {
        gap: 6px;
    }

    .badge {
        max-height: 20px;
    }
}

@media (max-width: 480px) {
    .badgesContainer {
        justify-content: center;
        gap: 4px;
    }

    .badge {
        max-height: 18px;
    }
}