.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 0px;
  background-color: var(--neutral-dark-medium);
  border-radius: 5px; /* Rounded corners */
}

.button {
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  background-color: var(--neutral-dark-high);
  color: var(--neutral-light-high);
  transition: background-color 0.3s;
  border-radius: 5px; /* Rounded corners */
}

.button:checked {
  text-decoration: underline; /* Add underline for selected tab */
  background-color: transparent; /* Remove background color */
}

.button:hover {
  background-color: var(--neutral-dark-opacity);
}

.tabContent {
  border: none;
  padding: 16px;
  background-color: var(--code-block-background);
  color: var(--code-block-text);
  font-family: "Inter", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  white-space: pre-wrap;
  border-radius: 6px;
  margin-top: 0;
}

.tabContent pre {
  margin: 0;
  padding: 0;
  background-color: transparent !important;
  white-space: pre; /* Ensure whitespace is preserved */
}

.tabContent code {
  font-family: inherit;
  white-space: pre-wrap; /* Preserve whitespace and wrap lines */
}

@media (max-width: 600px) {
  .tabs,
  .tabContent {
    width: 100%;
    flex-direction: column;
  }

  .button {
    width: 100%;
  }
}
