.tabs {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 1rem;
  border-radius: 10px; /* Rounded corners */
}

.button {
  margin-top: 0.4rem;
  cursor: pointer;
  text-align: left;
  background-color: var(--neutral-dark-low);
  color: var(--neutral-light-high);
  transition: background-color 0.4s;
  border-radius: 8px; /* Rounded corners */
  border: 1px solid var(--code-block-text);
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  font-size: 0.8rem;
}

.button:checked {
  text-decoration: underline; /* Add underline for selected tab */
  background-color: transparent; /* Remove background color */
}

.button:hover {
  background-color: var(--neutral-dark-opacity);
}

.copyButton:hover {
  background-color: var(--neutral-dark-opacity);
}

.copyButton {
  composes: button; /* Inherit styles from .button */
  position: absolute;
  top: 0px;
  right: 15px;
  z-index: 1;
}



.tabContent {
  border: 1px solid var(--code-block-text);
  padding: 5px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: var(--code-block-text);
  border-radius: 10px;
  word-wrap: break-word;
  word-break: break-all;
  width: 93%;
}

.tabContent pre {
  margin: 0;
  padding: 0;
  background-color: transparent !important;
  white-space: pre; /* Ensure whitespace is preserved */
  text-wrap: pretty;
  text-wrap: balance;
  contain-intrinsic-block-size: 100px;
  contain-intrinsic-size: 100px;
}

.tabContent code {
  font-family: inherit;
  white-space: pre-wrap; /* Preserve whitespace and wrap lines */
  font-size: 0.8rem;
}


@media (max-width: 600px) {
  .tabs, .tabContent {
      flex-direction: column;
      font-size: 0.4rem;
  }
  .tabContent code {
      font-size: 0.6rem;
  }
}
