/* Styles for DynamicTable component */

/* Style the table */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 1px solid var(--code-block-text);
  border-bottom: 1px solid var(--code-block-text);
  border-left: 1px solid var(--code-block-text);
  border-right: 1px solid var(--code-block-text);
}

/* Style table headers */
.th {
  background-color: var(--neutral-dark-medium);
  color: var(--neutral-light-high);
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid var(--code-block-text);
}

/* Style table cells */
.td {
  padding: 0.5rem;
  border-bottom: 1px solid var(--code-block-text);
}

.tr:nth-child(even) {
  background-color: var(--neutral-dark-opacity);
}

/* Add hover effect to table rows */
.tr:hover {
  background-color: var(--hover-bg);
  cursor: pointer;
}



/* Responsive styles */
@media (max-width: 600px) {
  .table {
    font-size: 0.8rem;
  }
}
