/* Styles for DynamicTable component */

/* Improved table styling */
.table {
  width: 100%;
  margin: 1rem 0;
  border-collapse: separate; /* Switch from collapse to separate */
  border-spacing: 0; /* Remove spacing between cells */
  border: 2px solid var(--neutral-dark-high);
  border-radius: 8px; /* Apply border radius */
  overflow: hidden; /* Ensure rounded corners are visible */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.table th {
  border-bottom: 1px solid var(--code-block-text);
  font-size: .9rem;
}

.table th, .table td {
  padding-left: .8rem;
  padding-right: -0.3rem;
  padding-top: .6rem;
  padding-bottom: 0.5rem;
  text-align: left;
  border-bottom: 1px solid var(--neutral-dark-low);
  /* Remove borders from cells to prevent conflict with table border */
}

.table th {
  background-color: var(--neutral-dark);
  color: var(--neutral-light-high);
  border-bottom: 4px solid var(--neutral-dark-high);
}

.table tr:nth-child(even) {
  background-color: var(--neutral-dark);
  font-size: 0.8rem;

}
.table tr:nth-child(odd) {
  background-color: transparent;
  border-bottom: .5px solid var(--neutral-dark-medium);
  font-size: 0.8rem;
}
.table td:first-child {
  font-weight: 600;
  font-size: 0.8rem;
}


.table tr:hover {
  background-color: var(--neutral-dark-opacity);
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 600px) {
  .table {
    font-size: 0.8rem;
  }
}
