.toggleButton {
  background: var(--brand-accent);
  color: #fff;
  padding: 8px 12px;
  border-radius: 6px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 1rem;
}

.toggleButton:hover {
  background-color: var(--brand-accent-hover);
}

.toggleContent {

}
