.toolInfo {
    background-color: var(--code-block-background);
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px var(--code-block-background);
    margin-bottom: 20px;
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
    color: var(--text-color);
}

.toolInfo p {
    margin: 8px 0;
    font-size: 1rem;
    color: var(--text-color);
}

.toolInfo a {
    color: var(--link-color);
    text-decoration: none;
}

.toolInfo a:hover {
    text-decoration: underline;
}

.toolInfo strong {
    color: var(--text-color);
}

@media (max-width: 600px) {
    .toolInfo {
        padding: 12px;
    }

    .toolInfo p {
        font-size: 0.9rem;
    }
}